.git
.gitignore
README.md

backend/vendor
backend/node_modules
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/app/public/*
backend/bootstrap/cache/*.php

frontend/node_modules
frontend/dist
frontend/.env
